*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
body{
	min-width: 1366px;
}

#banner_box{
	width: 100%;
	overflow: hidden;
	position: relative;
}
#banner_img_box{
	transition: 1s;
}
#banner_img_box .banner_img{
	float: left;
	width: 100%;
	position: relative;
}
#banner_img_box .banner_img img{
	width: 100%;
}
#banner_btn_box div{
	list-style: none;
	background: url(../img/banner_btn.png) no-repeat;
	float: left;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
}
#banner_btn_box .banner_btn_box_hover{
	background: url(../img/banner_btn_hover.png) no-repeat;
}
#banner_btn_box{
	position: absolute;
    bottom: 4%;
    left: 50%;
    margin-left: -36px;
}
#company_introduction{
	position: absolute;
    top: 50%;
    width: 452px;
    left: 24%;
    margin-top: -17px;
}
#company_introduction a{
	text-decoration: none;
	font-size: 18px;
	color: #8bd6fa;
	padding: 9px 26px;
	background: url(../img/banner-zhongli_detals_btn.png) no-repeat;
	background-size: 100% 100%;
}
#company_introduction a:hover{
	background: url(../img/banner-zhongli_detals_btn_hover.png) no-repeat;
	background-size: 100% 100%;
}
#company_introduction_concise{
	font-size: 14px;
	text-indent:2em;
	color: #5ebae7;
	margin-bottom: 40px;
}

#body_child_1{
	background: #3797d6;
}
#body_child_1 table{
	margin-left:60px;
	height: 100px;
}
#body_child_1 .font_style_color{
	font-size: 64px;
	color: #efd914;
}
#body_child_1 .down1{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -21px;
	height: 100px;
    line-height: 132px;
}
#body_child_1 ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#body_child_1 .img_box{
	display: inline-block;
	font-size: 0;
	position: relative;
}
#body_child_1 .img_box:nth-child(1) .txt,#body_child_1 .img_box:nth-child(2) div.txt,#body_child_1 .img_box:nth-child(3) .txt{
	position: absolute;
	top: 32%;
	width: 100%;
	text-align: center;
}
#body_child_1 .img_box:nth-child(1) h1,#body_child_1 .img_box:nth-child(2) div.txt h1,#body_child_1 .img_box:nth-child(3) h1{
	font-size: 44px;
	color: #efd914;
}
#body_child_1 .img_box:nth-child(1) h3,#body_child_1 .img_box:nth-child(2) div.txt h3,#body_child_1 .img_box:nth-child(3) h3{
	font-size: 24px;
	color: #bdebff;
	margin-top: 38px;
	line-height: 38px;
	font-weight: normal;
}
#body_child_1 .img_box:nth-child(2) a.txt{
	position: absolute;
	font-size: 18px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	line-height: 32px;
	border: 1px solid #9cc8f5;
	border-radius: 5px;
	overflow: hidden;
}
#body_child_1 .img_box:nth-child(2) .txt p{
	padding: 14px 16px;
}
#body_child_1 .img_box:nth-child(2) .txt .Internet_bg{
	background: #61a8f0;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0.3;
}
#body_child_1 .img_box:nth-child(2) .txt1{
	left: 33%;
	top: 17%;
}
#body_child_1 .img_box:nth-child(2) .txt2{
	left: 11%;
    top: 43%;
}
#body_child_1 .img_box:nth-child(2) .txt3{
	left: 64%;
    top: 41%;
}
#body_child_1 .img_box:nth-child(2) .txt4{
	left: 10%;
    top: 67%;
}
#body_child_1 .img_box:nth-child(2) .txt5{
	left: 71%;
    top: 64%;
}
#img_big_box2 .img_box{
	position: relative;
}

#img_big_box2 .img_box h2,#img_big_box2 .img_box h3{
	position:absolute;
	font-size: 22px;
	color: #fff;
	width: 100%;
	top: 64%;
	text-align: center;
	line-height: 30px;
	font-weight: normal;
}
#img_big_box2 .img_box a{
	color: #fff;
}
#img_big_box2 .img_box a:hover{
	color: #efd914;
}


/*企业安全管家*/
#SafeMgr{
	background: #f6f6f6;
	padding-top: 40px;
	z-index: 100;
}
#SafeMgr_title{
	color: #3F97D0;
	text-align: center;
}
#SafeMgr_title_ZH{
	font-size: 36px;
}
#SafeMgr_title_NG{
	font-size: 18px;
	background: url(../img/SafeMgr_split_line.png) center center no-repeat;
}
#SafeMgr_banner{
	margin-top: 30px;
	position: relative;
}
#SafeMgr_banner_img{
	width: 100%;
}
#SafeMgr_banner h1{
	font-size: 54px;
	color: #fff;
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	font-weight: normal;
}
#SafeMgr_banner h2{
	background: url(../img/a.png) no-repeat;
	font-size: 42px;
	color: #fff;
	padding: 8px 52px;
	position: absolute;
	top: 14%;
    left: 25%;
    font-weight: normal;
}
#SafeMgr_banner h1 a{
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	margin-left: 12%;
}

#SafeMgr_dynamic_box{
	width: 1239px;
	position: relative;
    top: -170px;
    margin: 0 auto;
    font-size: 0;
}
#SafeMgr_dynamic_img_box a{
	font-size: 0;
	display: inline-block;
	position: relative;
}
#SafeMgr_dynamic_img_box a .txt{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
#SafeMgr_dynamic_img_box a h1{
	font-size: 48px;
	margin: 56px 0 24px 0;
	font-weight: normal;
}
#SafeMgr_dynamic_img_box a h3{
	font-size: 26px;
	color: #fff;
	font-weight: normal;
}
#SafeMgr_dynamic_img_box a:nth-child(1) .txt h1{
	color: #ddba36;
}
#SafeMgr_dynamic_img_box a:nth-child(2) .txt h1{
	color: #75c274;
}
#SafeMgr_dynamic_img_box a:nth-child(3) .txt h1{
	color: #4da5e3;
}
#SafeMgr_dynamic_img_box a img{
	width: 401px;
}
#SafeMgr_dynamic_img_box a:nth-child(2){
	margin: 0 18px;
}
#SafeMgr_dynamic_left{
	width: 858px;
	float: left;
}
#SafeMgr_dynamic_left_title,#SafeMgr_dynamic_right_title{
	margin-bottom: 22px;
}
#SafeMgr_dynamic_box .more{
	text-decoration: none;
	color: #c0c3c7;
	float: right;
	font-size: 14px;
	margin-top: 52px;
	display: inline-block;
    background: url(../img/more.png) no-repeat 36px 4px;
    width: 50px;
}
#SafeMgr_dynamic_box .more:hover{
	color: #3F97D0;
	background: url(../img/more-hover.png) no-repeat 36px 4px;
}
#SafeMgr_dynamic_right{
	width: 320px;
	float: right;
}
#SafeMgr_dynamic_left_banner{
	width: 400px;
	height: 350px;
	position: relative;
	overflow: hidden;
	float: left;
}
#SafeMgr_dynamic_left_banner .banner_img{
	list-style: none;
	width: 1200px;
	font-size: 0;
	height: 350px;
}
#SafeMgr_dynamic_left_banner .banner_img li{
	width: 400px;
	height: 350px;
	float: left;
    position: relative;
}
#SafeMgr_dynamic_left_banner .left{
	position: absolute;
    top: 50%;
    margin-top: -22px;
}
#SafeMgr_dynamic_left_banner .right{
	position: absolute;
    top: 50%;
    margin-top: -22px;
    right: 0;
}
#SafeMgr_dynamic_left_banner .banner_img li div{
	position: absolute;
	bottom:0;
	width: 100%;
	font-size: 18px;
	color: #fff;
	text-align: center;
}
#SafeMgr_dynamic_left_banner .banner_img li div h2{
	background: #000;
    height: 40px;
    opacity: 0.5;
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100%;
}
#SafeMgr_dynamic_left_banner .banner_img li div span{
	padding: 8px 0;
    display: inline-block;
    position: relative;
}
#SafeMgr_dynamic_left_news{
	list-style: none;
	float: left;
	margin-left: 22px;
	width: 436px;
}
#SafeMgr_dynamic_left_news li{
	line-height: 24px;
	border-bottom: 1px solid #b8babc;
	padding-bottom: 5px;
	margin-bottom: 13px;
}
#SafeMgr_dynamic_left_news .news_title{
	font-size: 16px;
	color: #6f7275;
	cursor: pointer;
}
#SafeMgr_dynamic_left_news .news_title:hover{
	color: #3f97d0;
}
#SafeMgr_dynamic_left_news .news_content{
	font-size: 12px;
    color: #85898c;
}
#SafeMgr_dynamic_left_news .date{
	float: right;
}
#SafeMgr_dynamic_right_img{
	border: 1px solid transparent;
	background: #ccc;
	height: 350px;
}
#SafeMgr_dynamic_right_img h2{
	font-size: 18px;
    text-align: center;
    background: #000;
    opacity: 0.7;
    color: #fff;
    padding: 8px;
    margin-top: 310px;
}
.not_float{
	clear: both;
}
.none{
	display: none;
}
