*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
body{
	min-width: 1366px;
}

#banner_box{
	width: 100%;
	overflow: hidden;
	position: relative;
}
#banner_img_box{
	transition: 1s;
}
#banner_img_box .banner_img{
	float: left;
	width: 100%;
}
#banner_img_box .banner_img img{
	width: 100%;
}
#banner_btn_box div{
	list-style: none;
	background: url(../img/banner_btn.png) no-repeat;
	float: left;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
}
#banner_btn_box .banner_btn_box_hover{
	background: url(../img/banner_btn_hover.png) no-repeat;
}
#banner_btn_box{
	position: absolute;
    bottom: 4%;
    left: 50%;
    margin-left: -36px;
}

#body_child_1{
	background: #3797d6;
}
#body_child_1 table{
	margin-left:60px;
	height: 100px;
}
#body_child_1 .font_style_color{
	font-size: 64px;
	color: #efd914;
}
#body_child_1 .down1{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -21px;
	height: 100px;
    line-height: 100px;
}
#body_child_1 ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#body_child_1 .img_box{
	display: inline-block;
	font-size: 0;
}

/*企业安全管家*/
#SafeMgr{
	background: #f6f6f6;
	padding-top: 40px;
	z-index: 100;
}
#SafeMgr_title{
	color: #3F97D0;
	text-align: center;
}
#SafeMgr_title_ZH{
	font-size: 36px;
}
#SafeMgr_title_NG{
	font-size: 18px;
	background: url(../img/SafeMgr_split_line.png) center center no-repeat;
}
#SafeMgr_banner{
	margin-top: 30px;
}
#SafeMgr_banner_img{
	width: 100%;
}
#SafeMgr_dynamic_box{
	width: 1239px;
	position: relative;
    top: -170px;
    margin: 0 auto;
    font-size: 0;
}
#SafeMgr_dynamic_img_box a{
	font-size: 0;
}
#SafeMgr_dynamic_img_box a img{
	width: 401px;
}
#SafeMgr_dynamic_img_box a:nth-child(2){
	margin: 0 18px;
}
#SafeMgr_dynamic_left{
	width: 858px;
	float: left;
}
#SafeMgr_dynamic_left_title,#SafeMgr_dynamic_right_title{
	margin-bottom: 22px;
}
#SafeMgr_dynamic_box .more{
	text-decoration: none;
	color: #c0c3c7;
	float: right;
	font-size: 14px;
	margin-top: 52px;
}
#SafeMgr_dynamic_box .more:hover{
	color: #3F97D0;
}
#SafeMgr_dynamic_right{
	width: 320px;
	float: right;
}
#SafeMgr_dynamic_left_banner{
	width: 400px;
	height: 350px;
	position: relative;
	overflow: hidden;
	float: left;
}
#SafeMgr_dynamic_left_banner .banner_img{
	list-style: none;
	width: 1200px;
	font-size: 0;
	height: 350px;
	transition: 1s;
}
#SafeMgr_dynamic_left_banner .banner_img li{
	width: 400px;
	height: 350px;
	float: left;
}
#SafeMgr_dynamic_left_banner .left{
	position: absolute;
    top: 50%;
    margin-top: -22px;
}
#SafeMgr_dynamic_left_banner .right{
	position: absolute;
    top: 50%;
    margin-top: -22px;
    right: 0;
}
#SafeMgr_dynamic_left_banner .banner_img li h2{
	font-size: 18px;
    text-align: center;
    background: #000;
    opacity: 0.7;
    color: #fff;
    padding: 8px;
    margin-top: 310px;
}
#SafeMgr_dynamic_left_news{
	list-style: none;
	float: left;
	margin-left: 22px;
	width: 436px;
}
#SafeMgr_dynamic_left_news li{
	line-height: 24px;
	border-bottom: 1px solid #b8babc;
	padding-bottom: 5px;
	margin-bottom: 13px;
}
#SafeMgr_dynamic_left_news .news_title{
	font-size: 16px;
	color: #6f7275;
	cursor: pointer;
}
#SafeMgr_dynamic_left_news .news_title:hover{
	color: #3f97d0;
}
#SafeMgr_dynamic_left_news .news_content{
	font-size: 12px;
    color: #85898c;
}
#SafeMgr_dynamic_right_img{
	border: 1px solid transparent;
	background: #ccc;
	height: 350px;
}
#SafeMgr_dynamic_right_img h2{
	font-size: 18px;
    text-align: center;
    background: #000;
    opacity: 0.7;
    color: #fff;
    padding: 8px;
    margin-top: 310px;
}
.not_float{
	clear: both;
}
